.vs/

User/CameraQQQ/.vs/
User/CameraQQQ/CameraQQQ/bin/
User/CameraQQQ/CameraQQQ/obj/
User/CameraQQQ/CameraQQQ/P2PConnection/webrct-demo-f9ec7-firebase-adminsdk-7apu4-0299f8b8c9.json
User/CameraQQQ/CameraQQQ/P2PConnection/camerasimulator-91360-firebase-adminsdk-ji7ap-de067214a8.json

Server/CameraServer/.vs/
Server/CameraServer/CameraServer/bin/
Server/CameraServer/CameraServer/obj/
Server/CameraServer/CameraServer/appsettings.json
Server/CameraServer/CameraServer/appsettings.Development.json
Camera/app/google-services.json
